

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Herramienta</a></li>
          <li class="breadcrumb-item active">Registrar nueva herramienta</li>
        </ol>
         <h4 class="text">Nuevo herramienta </h4>
</div>
 <div class="probar">
<%= render "form", tool: @tool %>

<br>

