<div id="<%= dom_id materiale %>">
  <p>
    <strong>Nombre:</strong>
    <%= materiale.nombre %>
  </p>

  <p>
    <strong>Caracteristicas:</strong>
    <%= materiale.caracteristicas %>
  </p>

  <p>
    <strong>Existencia:</strong>
    <%= materiale.existencia %>
  </p>

</div>
