<h1>Editing materiale</h1>

<%= render "form", materiale: @materiale %>

<br>

<div>
  <%= link_to "Show this materiale", @materiale %> |
  <%= link_to "Back to materiales", materiales_path %>
</div>
