
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Materiales</a></li>
          <li class="breadcrumb-item active">Registrar nuevo material</li>
        </ol>
<%= render "form", materiale: @materiale %>

<br>

<div>
  <%= link_to "Lista de  materiales", materiales_path %>
</div>
