<div align="center">
<h1>Editar departamento</h1>

<%= render "form", departamento: @departamento %>

<br>

<div>
  <%= link_to "Lista de  departamento", @departamento %> |
  <%= link_to "Regresar a departamentos", departamentos_path %>
</div>
