
<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Departamentos</a></li>
          <li class="breadcrumb-item active">Caracteristicas del departamento</li>
        </ol>
                  <h4 class="text">Departamento <%= @departamento.id_departamento%> </h4>
</div>
 <div class="probar">
 <p style="color: green font-size: 20px"><%= notice %></p>

<%= render "form", departamento: @departamento %>

<br>


