
<head>
<%= stylesheet_link_tag "style" %>
</head>
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Departamentos</a></li>
          <li class="breadcrumb-item active">Registrar nuevo departamento</li>
        </ol>

<%= render "form", departamento: @departamento %>

<br>

<div>
  <%= link_to "Regresar a  departamentos", departamentos_path %>
</div>







