

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Tipos</a></li>
          <li class="breadcrumb-item active">Registrar nuevo tipo</li>
        </ol>
         <h5 class="text">Nuevo tipo </h5>
</div>
 <div class="probar">

<%= render "form", shape: @shape %>

<br>

