
<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Equipo</a></li>
          <li class="breadcrumb-item active">Registrar nuevo equipo</li>
        </ol>
             <h5 class="text">Nuevo equipo </h5>
</div>
 <div class="probar">    
</div>

<%= render "form", equipment: @equipment %>


