<p style="color: green"><%= notice %></p>

<h1>Insumos</h1>

<div id="insumos">
  <% @insumos.each do |insumo| %>
    <%= render insumo %>
    <p>
      <%= link_to "Lista de insumo", insumo %>
    </p>
  <% end %>
</div>

<%= link_to "Nuevo insumo", new_insumo_path %>
