
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Insumo</a></li>
          <li class="breadcrumb-item active">Registrar nuevo insumo</li>
        </ol>
<%= render "form", insumo: @insumo %>

<br>

<div>
  <%= link_to "Lista de insumos", insumos_path %>
</div>
