
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Tipo</a></li>
          <li class="breadcrumb-item active">Editar del tipo</li>
        </ol>
<h4 class="text">EditarTipo </h4>
</div>
<p style="color: green"><%= notice %></p>
 


<%= render "form", tipo: @tipo %>

<br>


