<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Tipo</a></li>
          <li class="breadcrumb-item active">Registrar nuevo tipo</li>
        </ol>

<%= render "form", tipo: @tipo %>

<br>

<div>
  <%= link_to "Lista de  tipos", tipos_path %>
</div>
