<center>
<h1 > Sistema de inventario</h1>
                  
<div>
<embed style="width:20%;height:auto; min-width:80px" src="http://www.oaxaca.tecnm.mx/themes/tecoaxaca/assets/images/main/ito.png">
</div>

</center>