<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Solicitud</a></li>
          <li class="breadcrumb-item active">Editar la solicitud</li>
        </ol>
                  <h5 class="text">Solicitud<%= @solicitud.id%> </h5>
</div>
 <div class="probar">



<%= render "form", solicitud: @solicitud %>

<br>
</br>
