

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">solicitud</a></li>
          <li class="breadcrumb-item active">Registrar nueva solicitud</li>
        </ol>
                  <h4 class="text">Nueva solicitud </h4>
</div>
 <div class="probar">

<%= render "form", solicitud: @solicitud %>

<br>

<div>
  <%= link_to "Regresar solicitud", solicituds_path %>
</div>
