<p>
    <strong>Nombre:</strong>
    <%= departament.nombre %>
  </p>

  <p>
    <strong>Num equipo:</strong>
    <%= departament.num_equipos %>
  </p>

  <p>
  <strong>Area:</strong>
  <%= departament.room_id%>
</p>