<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Departamentos</a></li>
          <li class="breadcrumb-item active">Editar el  departamento</li>
        </ol>
                  
<h4 class="text">Editar departamento <%= @departament.id%> </h4>
</div>
 <div class="probar">
                  
<%= render "form", departament: @departament %>
<br>



 
