<h1>Editing reportesistema</h1>

<%= render "form", reportesistema: @reportesistema %>

<br>

<div>
  <%= link_to "Show this reportesistema", @reportesistema %> |
  <%= link_to "Back to reportesistemas", reportesistemas_path %>
</div>
