

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Licencia</a></li>
          <li class="breadcrumb-item active">Registrar nueva licencia</li>
        </ol>
<h4 class="text">Nuevo Licencia </h4>
</div>
 <div class="probar">
<%= render "form", licence: @licence %>

<br>


