

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Mantenimiento</a></li>
          <li class="breadcrumb-item active">Registrar nuevo mantenimiento</li>
        </ol>
                  <h5 class="text">Nuevo mantenimiento </h5>
</div>
 <div class="probar">

<%= render "form", maintenance: @maintenance %>

<br>
</br>

