
<ol class="breadcrumb">
<li class="breadcrumb-item"><a href="">Area</a></li>
<li class="breadcrumb-item active">Registrar nueva area</li>
</ol>
<%= render "form", area: @area %>

<br>

<div>
<%= link_to "Regresar a areas", areas_path %>
</div>
