

<div class="col-12" align="center">
<div id="<%= dom_id licencium %>" >
  <p  class="text-md-start fs-2">
    <strong>Nombre:</strong>
    <%= licencium.nombre %>
  </p>

  <p  style="text-md-start fs-2">
    <strong>Año:</strong>
    <%= licencium.anio %>
  </p>

  <p class="text-md-start fs-2">
    <strong class="text-md-start fs-2">Número de licencia:</strong>
    <%= licencium.num_licencia %>
  </p>

</div>
