<head>
<%= stylesheet_link_tag "style" %>
</head>
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Licencia</a></li>
          <li class="breadcrumb-item active">Registrar nueva licencia</li>
        </ol>


<%= render "form", licencium: @licencium %>

<br>

<div>
<%= link_to "Regresar a licencias ", licencia_path %>
</div>

