

<div class="container">
<div class="card mt-5">
<div class="card-header">

                  
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Insumo</a></li>
          <li class="breadcrumb-item active">Registrar nuevo insumo</li>
        </ol>
        <h4 class="text">Nuevo insumo </h4>
</div>
 <div class="probar">
<%= render "form", resource: @resource %>

<br>
