<head>

</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Área</a></li>
          <li class="breadcrumb-item active">Registrar nueva área</li>
        </ol>
                  <h5 class="text">Nueva Área </h5>
</div>
 <div class="probar">
<%= render "form", zone: @zone %>

<br>

