<h1>Editing herramientum</h1>

<%= render "form", herramientum: @herramientum %>

<br>

<div>
  <%= link_to "Show this herramientum", @herramientum %> |
  <%= link_to "Back to herramienta", herramienta_path %>
</div>
