<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Herramienta</a></li>
          <li class="breadcrumb-item active">Registrar nueva herramienta</li>
        </ol>


<%= render "form", herramientum: @herramientum %>

<br>

<div>
  <%= link_to "Lista herramienta", herramienta_path %>
</div>
