<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Marca</a></li>
          <li class="breadcrumb-item active">Editar el  marca</li>
        </ol>
      <h4 class="text">Marca <%= @brand.id%> </h4>
</div>
 <div class="probar">             

<div>

<%= render "form", brand: @brand %>
</div>
<br>

