<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<p>Hola <%= @resource.email %>,</p>

<p>Gracias por registrarte en nuestra aplicación. Tu nombre de usuario es <%= @resource.email %> y tu contraseña es

<p>Tu contraseña es: <%= @resource.password_plain %></p>
 Por favor haz clic en el siguiente enlace para confirmar tu cuenta:</p>

<p><%= link_to 'Confirmar mi cuenta', confirmation_url(@resource, confirmation_token: @token) %></p>

<p>Si no creaste una cuenta en nuestra aplicación, puedes ignorar este correo electrónico.</p>

<p>Gracias,<br>El equipo de nuestra aplicación</p>

</body>
</html>
