<div id="<%= dom_id physical %>">
<p>
    <strong>Nombre:</strong>
    <%= physical.nombre %>
  </p>

  <p>
    <strong>Caracteristicas:</strong>
    <%= physical.caracteristicas %>
  </p>

  <p>
    <strong>Existencia:</strong>
    <%= physical.existencia %>
  </p>

</div>
