<head>
<%= stylesheet_link_tag "style" %>
</head>

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Material</a></li>
          <li class="breadcrumb-item active">Editar material</li>
        </ol>
                  <h5 class="text">Material <%= @physical.id%> </h5>
</div>
<div class="probar">
<%= render "form", physical: @physical %>

<br>


