

<div class="container">
<div class="card mt-5">
<div class="card-header">
<ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="">Materiales</a></li>
          <li class="breadcrumb-item active">Registrar nuevo material</li>
        </ol>
<h5 class="text">Nuevo material </h5>
</div>
 <div class="probar">
<%= render "form", physical: @physical %>

<br>

