<%= form_with(model: departamento1) do |form| %>
  <% if departamento1.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(departamento1.errors.count, "error") %> prohibited this departamento1 from being saved:</h2>

      <ul>
        <% departamento1.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
