<h1>Editing departamento1</h1>

<%= render "form", departamento1: @departamento1 %>

<br>

<div>
  <%= link_to "Show this departamento1", @departamento1 %> |
  <%= link_to "Back to departamento1s", departamento1s_path %>
</div>
